<AutofillSuggestion class="suggestion">
    <!--{{
        let icon = new Image();
        icon.src = `https://api.geode-sdk.org/v1/mods/${params.modID}/logo`;
        return icon;
    }}-->

    <!--{{ param: modName }}-->

    <style>
        AutofillSuggestion {
            display: flex;
            flex-direction: row;
            gap: 10px;

            height: 30px;

            justify-content: center;
            align-items: center;

            cursor: pointer;

            img {
                height: 100%;
            }
        }
    </style>
</AutofillSuggestion>
