<GameOverBox id="game-over-box" class="col">
    <!--{{
        if (params.results) return;

        let [year, month, day] = geodleData.date.split("-").map(Number);
        let date = new Date(year, month - 1, day);

        params.results = `Geodle #${geodleData.day} on ${date.toDateString()} `

        let lastMod = params.guessHistory[params.guessHistory.length - 1];
        if (lastMod.id == geodleData.mod.id) {
            params.results += `${params.guessHistory.length}/7\n\n`;
        } else {
            params.results += "X/7\n\n";
        }

        for (let mod of params.guessHistory) {
            params.results += mod.id == geodleData.mod.id ? "🟩" : "⬛";
            params.results += mod.developerID == geodleData.mod.developerID ? "🟩" : "⬛";

            let tagsIntersection = mod.tags.filter(value => geodleData.mod.tags.includes(value));
            if (tagsIntersection.length == 0) params.results += "⬛";
            else if (tagsIntersection.length == mod.tags.length) params.results += "🟩";
            else params.results += "🟨";

            if (mod.downloads < geodleData.mod.downloads) {
                params.results += "⬆️";
            } else if (mod.downloads > geodleData.mod.downloads) {
                params.results += "⬇️";
            } else {
                params.results += "✅"
            }

            let offset = new Date(mod.releaseDate).getTime() - new Date(geodleData.mod.releaseDate).getTime();
            if (offset < 0) {
                params.results += "⬆️";
            } else if (offset > 0) {
                params.results += "⬇️";
            } else {
                params.results += "✅"
            }

            offset = new Date(mod.updateDate).getTime() - new Date(geodleData.mod.updateDate).getTime();
            if (offset < 0) {
                params.results += "⬆️";
            } else if (offset > 0) {
                params.results += "⬇️";
            } else {
                params.results += "✅"
            }

            params.results += "\n";
        }
    }}-->

    <div id="content" class="col">
        <div id="remark">
            <!--{{
                // dude can someone think of more this is so hard
                let remarks = [
                    undefined,
                    [ "Ultimate Haxxor?", "No way!", "Legendary!", "Impossible!", "Someone spoiled it, didn't they." ],
                    [ "Magnificent.", "Amazing.", "Spectacular.", "Mythical!", "Superb!" ],
                    [ "Impressive.", "Epic.", "Looks like installing those mods paid off after all." ],
                    [ "Splendid!", "Feature-worthy." ],
                    [ "That was easy.", "Quick and simple.", "Nice.", "Could be worse." ],
                    [ "TODO: " ]
                    [ "Phew!", "Barely!", "Close!", "You are fuk map", "OK." ],
                    [ "Unlucky...", "Next time...", "Maybe tomorrow...", "It wasn't Soggy Mod...", "MegaHack IMO." ],
                ];

                let guesses = params.guessHistory.length;
                let last = params.guessHistory[params.guessHistory.length - 1];
                if (last.id != geodleData.mod.id) guesses += 1;

                let possibilities = remarks[guesses];
                return document.createTextNode(possibilities[~~(Math.random() * possibilities.length)]);
            }}-->
        </div>

        <!--{{
            return Guess({ mod: geodleData.mod, addTick: false });
        }}-->

        <pre>
            <!--{{ param: results }}-->
        </pre>

        <!--{{
            let copyButton = document.createElement("button");
            copyButton.id = "copy-button";
            copyButton.innerText = "Copy Results"
            copyButton.addEventListener("click", () => {
                navigator.clipboard.writeText(`${params.results}\n<https://geodle.undefined0.dev>`);
                copyButton.innerText = "Copied!";

                setTimeout(() => {
                    copyButton.innerText = "Copy Results"
                }, 1000);
            });

            return copyButton;
        }}-->

        <!--{{
            let returnButton = document.createElement("button");
            returnButton.id = "return-button";
            returnButton.innerText = "Back to Puzzle"
            returnButton.addEventListener("click", () => {
                document.querySelector("#game-over-box").style.animation = "game-over-out 0.8s ease-out 0s 1 normal both";
                document.querySelector("#game-over-box").style.pointerEvents = "none";
            });

            return returnButton;
        }}-->
    </div>

    <style>
        @keyframes game-over-in {
            from {
                top: -10%;
                opacity: 0;
            }

            to {
                top: 0%;
                opacity: 1;
            }
        }

        @keyframes game-over-out {
            from {
                translate: 0% 0;
                opacity: 1;
            }

            to {
                translate: 0% -10%;
                opacity: 0;
            }
        }

        #game-over-box {
            justify-content: safe center;
            align-items: center;

            overflow-y: auto;

            position: fixed;
            top: 0;
            left: 0;

            padding: 40px;

            width: 100%;
            height: 100%;

            background-color: #1e1e29;

            animation: game-over-in 0.5s ease-out 0.5s 1 normal both;

            z-index: 5;

            #content {
                align-items: center;
                width: 60%;
                max-width: 600px;

                gap: 40px;

                #remark {
                    font-size: 40px;
                    font-family: "Ultra", sans-serif;
                    text-align: center;
                }

                button {
                    width: 70%;
                    height: 40px;

                    background-color: #1e1e29;
                    border: 2px solid #3b3b50;
                    box-shadow: 0px 0px 40px 0px #00000041;
                    border-radius: 30px;

                    padding: 10px;

                    color: inherit;
                    font-family: inherit;

                    cursor: pointer;
                }

                pre {
                    font-family: inherit;
                    text-align: center;
                }
            }
        }
    </style>
</GameOverBox>
